.navbar-inverse {
    background-color: #342338;
    border-color: #342338;
}

.header a, a:hover {
	color: #7c51e0;
	text-decoration: none;
}

.header h1 {
	letter-spacing: 10px;
	font-size: 250%;
}

.header p {
	color: #9e82e0 !important;
	font-size: 90%;
	letter-spacing: 3px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover,
	.nav-pills>li>a:focus, .nav-pills>li>a:hover {
    color: #fff;
    background-color: #4a2b94;
}

.nav>li>a {
    color: #7c51e0;
}

.navbar-inverse {
    padding: 1%;
}

@media (max-width: 767px) {

	.nav-pills>li {
		float: none;
	}

	.nav-pills {
		text-align: center;
	}	

	.header h1 {
		letter-spacing: 5px;
		font-size: 200%;
	}

	.header p {
		color: #9e82e0 !important;
		font-size: 60%;
		letter-spacing: 2px;
	}

	.header {
		text-align: center;
	}
}

.clear {
	clear: both;
	height: 60px;
}

.wrapper {
	min-height: 100%;
}

html, body {
	height: 100%;
}


.fragment-block img {
	width: 70%;
	display: block;
	margin: auto;
	margin-bottom: 5%;
	border: solid 2px #342338;
}

.fragment-block {
	text-align: center;
}

.fragment-label {
	padding: 2%;
	margin-bottom: 4%;
}

.margin-8 {
	margin-top: 8%;
}

.panel {
	border: none;
}

.panel-body {
	background-color: #e9e4f5;
}

.panel-info>.panel-heading {
	background-color: #c5b4ed;
	border-color: transparent;
	color: #342338;
}

.sidebar-header {
	font-size: 110%;
	letter-spacing: 2px;
}

.input-lg {
	font-size: 14px;
}

.form-control {
	border-radius: 0px;
}

footer {
	color: #7c51e0;
	background: #342338;
	padding: 17px 0 17px 0;
	border-top: 1px solid #000;
	text-align: right;
}

footer>a:hover {
	color: #fff;
}


